{% extends 'base.html.twig' %}

{% block title %}Horaires{% endblock %}

{% block body %}
<h1>Horaires</h1>

<p>Voici nos horaires d'ouverture :</p>

<ul>
    <li>Lundi : Fermé</li>
    <li>Mardi : 11h30 – 14h00</li>
    <li>Mercredi : 11h30 – 14h00</li>
    <li>Jeudi : 11h30 – 14h00</li>
    <li>Vendredi : 11h30 – 14h00</li>
    <li>Samedi : 11h30 – 14h00</li>
    <li>Dimanche : Fermé</li>
</ul>
{% endblock %}