<h2>Bienvenue {{ user.prenom }} 👋</h2>

<p>
    Votre compte a bien été créé sur <strong>Vite Gourmand</strong>.<br>
    Vous pouvez maintenant commander vos menus préférés en quelques clics.
</p>

<p>
    À très vite,<br>
    <strong>L’équipe Vite Gourmand</strong>
</p>
