<p><strong>Nouveau message de contact :</strong></p>

<p><strong>Nom :</strong> {{ nom }}</p>
<p><strong>Email :</strong> {{ email }}</p>

<p><strong>Message :</strong></p>
<p>{{ message|nl2br }}</p>
