{% set full = note %}
{% set empty = 5 - note %}

<span class="stars">
    {# Étoiles pleines #}
    {% for i in 1..full %}
        <svg width="20" height="20" fill="#FFD700" viewBox="0 0 24 24">
            <path d="M12 .587l3.668 7.568L24 9.748l-6 5.848L19.335 24 12 19.897 4.665 24 6 15.596 0 9.748l8.332-1.593z"/>
        </svg>
    {% endfor %}

    {# Étoiles vides #}
    {% for i in 1..empty %}
        <svg width="20" height="20" fill="#DDD" viewBox="0 0 24 24">
            <path d="M12 .587l3.668 7.568L24 9.748l-6 5.848L19.335 24 12 19.897 4.665 24 6 15.596 0 9.748l8.332-1.593z"/>
        </svg>
    {% endfor %}
</span>
