{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ plat is defined ? 'Modifier un plat' : 'Créer un plat' }}</h1>

{{ form_start(form) }}
{{ form_widget(form) }}

<button class="btn btn-success mt-3">Valider</button>
{{ form_end(form) }}
{% endblock %}